body {
    background-image: url("img/legoCollectiesLeadPicture.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

#login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
